body {
    background-color: hsl(249, 91%, 9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    color: white
}

button {
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 30px;
}

.card img {
    width: 250px;
    border-radius: 30px;
}

.card {
    display: flex;
    gap: 20px;
    background-color: rgb(13, 110, 255);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgb(209, 255, 2);
    max-width: 800px;
    width: 60%;
}

.nav button:hover {
    background-color: blue;
    transform: translateY(-2px);
}

@media screen and (max-width:400px) {

    .card {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 200px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
}